Dear User,

We have received a request to reset the password for your account associated with {{ email }}

If you initiated this request, please click the link below to reset your password.

Reset Password: {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

For security reasons, this link will expire after a certain period. 
So if you did not request this password reset, you can safely ignore this email.
Your password will remain unchanged.

If you require any further assistance, feel free to contact to our support team.

Best regards,
Mohit Pandey's Team.